body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
}
#text-animation {
  color: #4183d7;
}
#up-top {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid #5c5c5c;
  border-radius: 50%;
  font-size: 2em;
  -webkit-transition: .5s;
  transition: .5s;
  position: fixed;
  right: 15px;
  bottom: 20px;
}
#up-top a {
  width: 100%;
  height: 100%;
  color: #5c5c5c;
}
#up-top:hover {
  border-color: #7aba20;
}
#up-top:hover a {
  color: #7aba20;
}
a {
  text-decoration: none;
  color: #171717;
  font-weight: bold;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
a:hover {
  text-decoration: underline;
  color: #7aba20;
}
@-webkit-keyframes aceaGradient {
  0% {
    background-position: 0% 87%;
  }
  50% {
    background-position: 100% 14%;
  }
  100% {
    background-position: 0% 87%;
  }
}
@keyframes aceaGradient {
  0% {
    background-position: 0% 87%;
  }
  50% {
    background-position: 100% 14%;
  }
  100% {
    background-position: 0% 87%;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 5px -5px 5px #171717;
          box-shadow: 5px -5px 5px #171717;
  position: relative;
}
.logo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
}
.logo img {
  *width: 50%;
}
.menu-btn {
  font-size: 2em;
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
}
.menu {
  width: 70%;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}
.menu ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.menu ul li {
  width: 100%;
  height: 100%;
}
.menu ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu ul li:hover a {
  color: #171717;
  text-decoration: none;
}
.menu ul li:hover:first-child {
  border-bottom: 2px solid #ffa726;
}
.menu ul li:hover:nth-child(3) {
  border-bottom: 2px solid #eae100;
}
.menu ul li:hover:nth-child(5) {
  border-bottom: 2px solid #7aba20;
}
.menu ul li:hover:nth-child(7) {
  border-bottom: 2px solid #4183d7;
}
.menu ul li:hover:nth-child(9) {
  border-bottom: 2px solid #26afad;
}
.content {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.superior-item {
  background-image: url('../images/wallpaper.jpg');
  background-size: cover;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5em;
}
.superior-item h1 {
  font-size: 2.5em;
  color: white;
  display: block;
  text-align: center;
  *text-shadow: 0px 0px 1px gray;
}
.superior-item p {
  color: white;
  text-align: center;
  width: 60%;
  font-weight: 500;
  *text-shadow: 0px 0px 1px gray;
}
.superior-item a {
  padding: .8em 1.9em;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 2px solid white;
  font-weight: bold;
  border: none;
}
.superior-item a:hover {
  background-color: rgba(65, 131, 215, 0.9);
  text-decoration: none;
}
.second-item h1 {
  text-align: center;
  margin: 2em 0;
}
.content-2 {
  margin: 2em auto;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.content-2 h3 {
  text-align: center;
  margin-bottom: 2em;
}
.third-item {
  background: #eae100;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #eae100 0%, #7aba20 37%, #26afad 58%, #2228e2 97%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae100', endColorstr='#2228e2', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
}
.third-item .content-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.third-item .icon-box {
  width: 30%;
}
.third-item .icon-box img {
  width: 70%;
}
.third-item .content-area {
  width: 50%;
  text-align: center;
  color: white;
}
.third-item .content-area h1 {
  font-size: 2.5em;
}
.nosotros {
  padding: 2em;
  text-align: justify;
}
.nosotros .content {
  max-width: 1280px;
  margin: 0 auto;
}
.nosotros .content .mision {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
}
.nosotros .content .mision img {
  *-ms-flex-item-align: end;
  *    align-self: flex-end;
  margin: 0 auto;
}
.nosotros .content .mision div {
  width: 70%;
}
.fourty-item {
  background: linear-gradient(230deg, #26afad, #0e69dd);
  background-size: 400% 400%;
  -webkit-animation: aceaGradient 59s ease infinite;
  animation: aceaGradient 59s ease infinite;
  padding: 3em;
}
.fourty-item .content-2 {
  max-width: 1280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
.fourty-item .icon-box {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.fourty-item .icon-box img {
  width: 170%;
}
.fourty-item .content-area {
  width: 50%;
}
.fourty-item .content-area h1 {
  text-align: center;
  margin-bottom: 2em;
}
.fourty-item .content-area p {
  line-height: 30px;
  text-align: justify;
}
#map {
  width: 40%;
  height: 400px;
  border: 10px solid #4183d7;
}
.contacto {
  padding: 2em 0;
}
.contacto h1 {
  color: #4183d7;
  text-align: center;
  font-size: 3em;
}
.contacto .content-2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacto .content-2 .info-contact {
  width: 50%;
}
.contacto .content-2 .info-contact .info-data {
  padding: 1.5em 0;
}
.contacto .content-2 .info-contact .info-data span {
  color: #4183d7;
  font-size: 2em;
  margin-right: 10px;
}
.contacto .content-2 .info-contact .info-data p {
  margin: 1em;
  line-height: 20px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .content-2 {
  margin: 10px auto;
}
/*-------------------------------------------------------------------
*                        ESTILOS RESPONSIVE
*/
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) {
  .menu {
    width: 50%;
  }
}
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .dots {
    display: none;
  }
  .menu-btn {
    display: block;
    cursor: pointer;
    z-index: 3;
  }
  header {
    padding: 0;
  }
  .menu {
    display: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .menu ul {
    margin-top: 0;
    padding-top: 3em;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: white;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    position: absolute;
    right: -100;
  }
  .menu ul li {
    width: 100%;
    text-align: center;
    height: auto;
  }
  .menu ul li a {
    width: 100%;
    height: 100%;
    padding: 1em 0;
    display: inline-block;
  }
  .menu ul li:hover a {
    color: white;
  }
  .menu ul li:hover:first-child {
    background-color: #ffa726;
  }
  .menu ul li:hover:nth-child(3) {
    background-color: #eae100;
  }
  .menu ul li:hover:nth-child(5) {
    background-color: #7aba20;
  }
  .menu ul li:hover:nth-child(7) {
    background-color: #4183d7;
  }
  .menu ul li:hover:nth-child(9) {
    background-color: #26afad;
  }
  .third-item .content-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .third-item .icon-box img {
    margin: 0 auto;
    display: block;
  }
  .fourty-item .icon-box {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .fourty-item .icon-box img {
    width: 170%;
  }
}
.contacto .content-2 {
  padding: 0 1em;
}
.contacto .content-2 #map {
  width: 55%;
}
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 480px) {
  .menu ul {
    width: 60%;
  }
  .superior-item p {
    font-weight: lighter;
    font-size: .8em;
  }
  .second-item .content-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second-item .content-2 img {
    margin: 0 auto;
    display: block;
  }
  .third-item .icon-box img {
    width: 100%;
  }
  .third-item .content-area h1 {
    font-size: 2em;
  }
  .third-item .content-area p {
    font-weight: lighter;
  }
  .fourty-item .icon-box {
    display: none;
  }
  .fourty-item .content-area {
    margin: 0 auto;
    width: 100%;
  }
  .nosotros .content .mision img {
    width: 20%;
  }
  .contacto .content-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacto .content-2 #map {
    width: 90%;
    margin: 0 auto;
  }
  .contacto .content-2 .info-contact {
    width: 90%;
    margin: 0 auto;
  }
  .contacto .content-2 .info-contact .info-data {
    padding-top: 0;
  }
}
@media screen and (max-width: 360px) {
  .nosotros .content .mision div {
    width: 100%;
  }
  .nosotros .content .mision img {
    display: none;
  }
}
